.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

/*
.label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  text-align: center;
} */
